<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product page</title>
    <link href="/css/table.css" th:href="@{/css/table.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Product name</th>
            <th scope="col">Price</th>
            <th scope="col">Producer name</th>
            <th scope="col">Submit</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <form action="#" th:action="@{/product}" th:object="${newProduct}" method="post">
                <th scope="row"><input type="text" th:field="*{name}"></th>
                <td><input type="number" min="0" th:field="*{price}"/></td>
                <td><select th:field="*{producer.id}" class="form-control">
                    <option th:each="prdcr : ${producerList}" th:value="${prdcr.id}" th:text="${prdcr.name}"/>
                </select></td>
                <td>
                    <button type="submit" class="btn btn-success">Add</button>
                </td>

            </form>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Product name</th>
            <th scope="col">Price</th>
            <th scope="col">Producer name</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pr: ${productList}">
            <th scope="row"><span th:text="${pr.id}"/></th>
            <td><span th:text="${pr.name}"></span></td>
            <td><span th:text="${pr.price}"></span></td>
            <td><span th:text="${pr.producer.name}"></span></td>

            <td>
                <form action="#" th:action="@{/product/} + ${pr.id}" th:method="DELETE" method="DELETE">
                    <button th:type="submit" class="btn btn-warning">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Product id</th>
            <th scope="col">Product name</th>
            <th scope="col">Price</th>
            <th scope="col">Producer name</th>
            <th scope="col">Submit</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <form action="#" th:action="@{/product}" th:object="${newProduct}" th:method="PUT" method="post">
                <th scope="row"><select th:field="*{id}" class="form-control">
                    <option th:each="prdcr : ${productList}" th:value="${prdcr.id}" th:text="${prdcr.id}"/>
                </select></th>
                <th scope="row"><input type="text" th:field="*{name}"></th>
                <td><input type="number" min="0" th:field="*{price}"/></td>
                <td><select th:field="*{producer.id}" class="form-control">
                    <option th:each="prdcr : ${producerList}" th:value="${prdcr.id}" th:text="${prdcr.name}"/>
                </select></td>
                <td>
                    <button type="submit" class="btn btn-info">Update</button>
                </td>

            </form>
        </tr>
        </tbody>
    </table>
</div>
<br>
<div class="container">
    <a th:href="@{/registration}" class="btn btn-primary btn-lg">Registration page</a>
    <a th:href="@{/users}" class="btn btn-primary btn-lg">Users page</a>
    <a th:href="@{/product}" class="btn btn-primary btn-lg">Products page</a>
    <a th:href="@{/producer}" class="btn btn-primary btn-lg">Producers page</a>
    <a th:href="@{/login}" class="btn btn-warning btn-lg">Login page</a>
    <a th:href="@{/logout}" class="btn btn-danger btn-lg">Logout</a>
</div>
</body>
</html>