<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link href="/css/table.css" th:href="@{/css/table.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First name</th>
            <th scope="col">First name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col" sec:authorize="hasRole('ADMIN')">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${userList}">
            <th scope="row"><span th:text="${user.id}"/></th>
            <td><span th:text="${user.firstName}"></span></td>
            <td><span th:text="${user.lastName}"></span></td>
            <td><span th:text="${user.email}"></span></td>
            <td><span th:text="${user.roles}"></span></td>
            <td sec:authorize="hasRole('ADMIN')">
                <form action="#" th:action="@{/users/} + ${user.id}" th:method="DELETE" method="DELETE">
                    <button class="btn btn-warning" th:type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
</div>
<div class="container">
    <form class="form-inline" action="#" th:action="@{/users}" th:object="${newUser}" th:method="POST" method="post">

        <label for="fname-new" class="mr-sm-2">First name</label>
        <input type="text" th:field="*{firstName}" id="fname-new"class="form-control mb-2 mr-sm-2"/>

        <label for="lname-new" class="mr-sm-2">Last name</label>
        <input type="text" th:field="*{lastName}" id="lname-new"class="form-control mb-2 mr-sm-2"/>

        <label for="email-new" class="mr-sm-2">Email</label>
            <input type="text" th:field="*{email}" id="email-new" class="form-control mb-2 mr-sm-2"/>
            <p th:each="error :${#fields.errors('email')}" th:text="${error}">Validation error</p>

        <label for="psw-new" class="mr-sm-2">Password</label>
        <input type="password" th:field="*{password}" id="psw-new" class="form-control mb-2 mr-sm-2"/>

        <label for="role-new" class="mr-sm-2">Role</label>
        <select th:field="*{roles}" id="role-new" multiple class="form-control mb-2 mr-sm-2" size="2">
            <option th:each="role: ${roleSet}" th:value="${role}" th:text="${role}"/>
        </select>
        <button type="submit" class="btn btn-success">Add user</button>
    </form>
</div>

<div class="container">
    <form class="form-inline" action="#" th:action="@{/users}" th:object="${newUser}" th:method="PUT" method="put">
        <label for="id-upt" class="mr-sm-2">User id</label>
        <select th:field="*{id}" id="id-upt"class="form-control mb-2 mr-sm-2">
            <option th:each="user : ${userList}" th:value="${user.id}" th:text="${user.id}"/>
        </select>

        <label for="fname-upt" class="mr-sm-2">First name</label>
        <input type="text" th:field="*{firstName}" id="fname-upt"class="form-control mb-2 mr-sm-2"/>

        <label for="lname-upt" class="mr-sm-2">Last name</label>
        <input type="text" th:field="*{lastName}" id="lname-upt"class="form-control mb-2 mr-sm-2"/>

        <label for="email-upt" class="mr-sm-2">Email</label>
        <input type="text" th:field="*{email}" id="email-upt" class="form-control mb-2 mr-sm-2"/>
        <p th:each="error :${#fields.errors('email')}" th:text="${error}">Validation error</p>

        <label for="psw-upt" class="mr-sm-2">Password</label>
        <input type="password" th:field="*{password}" id="psw-upt" class="form-control mb-2 mr-sm-2"/>

        <label for="role-upt" class="mr-sm-2">Role</label>
        <select th:field="*{roles}" id="role-upt" multiple class="form-control mb-2 mr-sm-2" size="2">
            <option th:each="role: ${roleSet}" th:value="${role}" th:text="${role}"/>
        </select>
        <button type="submit" class="btn btn-success">Update user</button>
    </form>
</div>
<div class="container">
    <a th:href="@{/registration}" class="btn btn-primary btn-lg">Registration page</a>
    <a th:href="@{/users}" class="btn btn-primary btn-lg">Users page</a>
    <a th:href="@{/product}" class="btn btn-primary btn-lg">Products page</a>
    <a th:href="@{/producer}" class="btn btn-primary btn-lg">Producers page</a>
    <a th:href="@{/login}" class="btn btn-warning btn-lg">Login page</a>
    <a th:href="@{/logout}" class="btn btn-danger btn-lg">Logout</a>
</div>
</body>
</html>